{% extends 'base.html.twig' %}

{% block title 'Edit pin #' ~ pin.id %}

{% block body %}
    <h1>Edit Pin</h1>
    {{ include('pins/_form.html.twig', {submitButtonText: 'Update Pin'}) }}
{% endblock %}